<div class="header">
  <h1 class="heading-text">Hello..!</h1>
  <h2 class="heading-text">Welcome to {{ title }}!</h2>
  <p class="welcome-text">
    Practice real-world Angular coding challenges and demonstrate your skills.
  </p>
  <p class="welcome-text">
    You are currently viewing the <i>Requirements</i> for this Challenge.
  </p>
  <p class="welcome-text">
    Navigate to the challenge folder from the left panel to begin your journey.
  </p>
  <p class="welcome-text strong-text">Best of luck - happy coding!</p>
</div>
